.hmap-overview-map {
  position: absolute;
  right: 0em;
  bottom: 0em;
  width: 120px;
  height: 120px;
  visibility: visible;
  background: #fff;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}

.hmap-overview-map .hmap-overview-main {
  width: 115px;
  height: 115px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: hidden;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
}

.hmap-overview-map.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.hmap-overview-map .hmap-overview-map-target,
.hmap-overview-map button {
  display: inline-block;
}
.hmap-overview-map .hmap-overview-map-target {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.hmap-overview-map:not(.ol-collapsed) button{
  bottom: 1px;
  left: 2px;
  position: absolute;
}
.hmap-overview-map.ol-collapsed .hmap-overview-map-target,
.hmap-overview-map.ol-uncollapsible button {
  display: none;
}
.hmap-overview-map:not(.ol-collapsed) {
  background: rgba(255,255,255,0.8);
}
.hmap-overview-map-box {
  box-sizing: border-box;
  border: 2px dotted rgba(0,60,136,0.7);
}

.hmap-overview-map .hmap-overview-map-box:hover {
  cursor: move;
}
